.cta-btn {
  color: var(--contrast-color);
  border: none;
  background: var(--accent-color);
  font-size: 14px;
  padding: 8px 20px;
  margin: 0 5px 0 30px;
  border-radius: 15px;
  transition: 0.3s;
}

.cta-btn:hover{
  color: var(--contrast-color);
  outline: none;
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
}