<footer id="footer" class="footer light-background">
  <div class="container footer-top">
    <div class="row gy-4">
      <!-- Columna 1: Sitename -->
      <div class="col-lg-3 col-md-6 footer-about">
        <a href="#" class="logo d-flex align-items-center">
          <span class="sitename">Mi Clínica Web</span>
        </a>
        <p>Tu salud, nuestra prioridad.</p>
      </div>

      <!-- Columna 2: Links -->
      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Enlaces</h4>
        <ul>
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >INICIO</a
            >
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="active">SOBRE NOSOTROS</a>
          </li>
        </ul>
      </div>

      <!-- Columna 3: Contáctanos -->
      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contáctanos</h4>
        <p>1/2 Av. Samborondón</p>
        <p>Guayas, Guayaquil EC092301</p>
        <p><strong>Phone:</strong> <span>+593 99 354 1016</span></p>
        <p><strong>Email:</strong> <span>miclinicaweb&#64;example.com</span></p>
      </div>

      <!-- Columna 4: Redes Sociales -->
      <div class="col-lg-3 col-md-6 footer-social">
        <h4>Redes</h4>
        <div class="social-links d-flex mt-2">
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>
      © <span>Copyright</span>
      <strong class="px-1 sitename">Mi Clinica Web</strong>
      <span>Todos los Derechos Reservados</span>
    </p>
    <div class="credits">
      Desarrollado por Jimmy Ochoa, Ashley Vega, Leynder Sánchez
    </div>
  </div>
</footer>
