table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  font-family: var(--nav-font);
  
  
}
.custom-table thead {
  color: rgb(11, 4, 42);
  text-transform: uppercase;
  font-weight: 540;
  letter-spacing: 0.3px;
  background-color: #dfdada68;
  border-bottom: 3px solid #e0e0e0;
  border-radius: 7px;
    
}

.custom-table th {
  padding: 12px 10px;
  text-align: left;
  
}

/* Filas */
.custom-table tbody tr {
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.5s ease;
}

/* Celdas */
.custom-table td {
  padding: 11px 10px;
  color: #333;
}

/* Botones */
button {
  font-size: 13px;
  font-family: var(--nav-font);
  padding: 8px 12px;
  border-radius: 9px;
  transition: background-color 0.2s ease;
}

button.btn-primary {
  background-color: #163265;
  border: none;
  color: white;
}

button.btn-primary:hover {
  background-color: #061a3d;
}

button.btn-outline-primary {
  background-color: transparent;
  border: 1px solid #163265;
  color: #163265;
}

button.btn-outline-primary:hover {
  background-color: #163265d2;
  border: 1px solid #163265d2;
  color: white;
}

button.btn-primary:active, button.btn-outline-primary:active {
  border: 1px solid #163265;
  color: white;
}

button.btn-danger {
  background-color: #d9534f;
  border: none;
  color: white;
}

button.btn-danger:hover {
  background-color: #72211f;
}

.custom-table tbody tr:hover {
  background-color: #c6d8d86a; 
  border-radius: 7px;
  cursor: pointer;
}
