.sidebar-menu-item a,
.sidebar-menu-item a:focus {
  color: #3f3c3c;
  padding: 18px 15px;
  font-size: 15px;
  font-family: var(--nav-font);
  font-weight: 540;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: left;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 6px;
  padding-left: 36px;
  gap: 12px; 
}

.sidebar-menu-item a:hover,
.sidebar-menu-item a.active {
  background-color: rgba(255, 255, 255, 0.188);
}

/* Estilo para el ícono Bootstrap */
.sidebar-menu-item i {
  font-size: 18px;
  color: inherit; 
  transition: transform 0.3s ease;
}

.sidebar-menu-item a:hover i {
  transform: scale(1.8);
}

