/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.carousel-item {
  min-height: 70vh;
}

@media (max-width: 580px), (max-height: 500px) {
.carousel-item {
    min-height: 100vh;
  }
}
.container {
  background: color-mix(in srgb, var(--surface-color), transparent 10%);
  max-width: 800px;
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-top: 4px solid var(--accent-color);
  z-index: 3;
}