<div class="container my-5 d-flex justify-content-center" style="height: 650px;">
  <div class="card shadow-lg rounded-4 overflow-hidden w-100 auth-container h-100" style="max-width: 1200px;">
    <div class="row g-0 h-100">

      <div class="col-md-6 d-none d-md-block h-100">
        <img src="https://images.pexels.com/photos/3845761/pexels-photo-3845761.jpeg" alt="Médico"
          class="img-fluid w-100 h-100" style="object-fit: cover;" />
      </div>

      <div class="col-md-6 p-5 d-flex flex-column justify-content-center align-items-center h-100">
        <img src="assets/img/main-logo.png" alt="Logo" height="80" class="mb-4" />

        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>