/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero .carousel-inner {
  min-height: 70vh;
}

@media (max-width: 580px), (max-height: 500px) {
  .hero .carousel-inner{
    min-height: 100vh;
  }
}

.hero img {
  object-fit: cover;
  z-index: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}