<form [formGroup]="loginForm" style="max-width: 600px; width: 100%;">
  <div class="mb-3">
    <label for="email" class="form-label small text-muted">Usuario (email)</label>
    <input
      type="text"
      id="email"
      formControlName="email"
      class="form-control form-control-lg"
      placeholder="admin@example.com"
    />
    <div *ngIf="loginForm.get('email')?.touched || loginForm.get('email')?.dirty" class="text-danger small">
      <div *ngIf="loginForm.get('email')?.errors?.['required']">El usuario es obligatorio</div>
      <div *ngIf="loginForm.get('email')?.errors?.['email']">Formato de email inválido</div>
    </div>
  </div>

  <div class="mb-4">
    <label for="password" class="form-label small text-muted">Contraseña</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      class="form-control form-control-lg"
      placeholder="••••••••"
    />
    <div *ngIf="loginForm.get('password')?.touched || loginForm.get('password')?.dirty" class="text-danger small">
      <div *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria</div>
    </div>
  </div>

  <!-- ALERTA con componente personalizado -->
  <app-alert *ngIf="errorMessage" type="danger" [message]="errorMessage"></app-alert>

  <div class="d-flex gap-2 mt-3">
    <app-button
      class="flex-fill"
      type="button"
      label="Login"
      accentColor="#20c997"
      contrastColor="#ffffff"
      (click)="onSubmit()"
    ></app-button>

    <app-button
      class="flex-fill"
      routerLink="/auth/register"
      label="Registrarse"
      accentColor="#20c997"
      contrastColor="#ffffff"
    ></app-button>
  </div>
</form>
