<ul class="sidebar-menu">
  <app-sidebar-menu-item
    route="/appointments"
    label="Citas"
    icon="bi-calendar-event">
  </app-sidebar-menu-item>

  <app-sidebar-menu-item
    route="/clients"
    label="Clientes"
    icon="bi-people">
  </app-sidebar-menu-item>

  <app-sidebar-menu-item
    route="/patients"
    label="Pacientes"
    icon="bi-person-vcard">
  </app-sidebar-menu-item>

  <app-sidebar-menu-item
    route="/logout"
    label="Log Out"
    icon="bi-box-arrow-right">
  </app-sidebar-menu-item>
</ul>