<footer id="footer" class="footer light-background">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="#home" class="logo d-flex align-items-center">
          <span class="sitename">Mi Clinica Web</span>
        </a>
        <div class="footer-contact pt-3">
          <p>1/2 Av. Samborondón</p>
          <p>Guayas, Guayaquil EC092301</p>
          <p class="mt-3">
            <strong>Phone:</strong> <span>+593 99 354 1016</span>
          </p>
          <p>
            <strong>Email:</strong> <span> miclinicaweb&#64;example.com</span>
          </p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>
      © <span>Copyright</span>
      <strong class="px-1 sitename">Mi Clinica Web</strong>
      <span>All Rights Reserved</span>
    </p>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you've purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      Designed by Jimmy Ochoa, Ashley Vega, Leynder Sánchez
    </div>
  </div>
</footer>
