<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Dashboard de Pacientes</h2>
    <app-button
      label="Agregar Paciente"
      (click)="showPatientModal = true"
    ></app-button>
  </div>

  <app-modal
    *ngIf="showPatientModal"
    [title]="editingPatient ? 'Editar Paciente' : 'Nuevo Paciente'"
    (close)="handleCloseModal()"
  >
    <app-patient-form
      [initialData]="editingPatient"
      (submitForm)="handleNewPatient($event)"
    ></app-patient-form>
  </app-modal>

  <app-table
    [data]="patients"
    [columns]="columns"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (rowClick)="onRowSelected($event)"
  ></app-table>
</div>